@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

:root {
    --white: #e6dbc1;
    --dark-white: #b3aa96;
    --darkgreen: #022e1e;
    --lightgreen: #0a552a;
    --light-text: #151515cc;

}

* {
    font-family: "IM Fell English", serif;
    transition: 0.15s ease-in-out;
    color: var(--darkgreen);
}

html {
    background: whitesmoke;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 200%;
    letter-spacing: .25px;
}

html {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    margin: 0;
    
}

li {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    padding-left: 0 !important;
}

.filters {
    padding-left: 20px;
}

.main-container {
    margin: 0 auto 0 auto;
    padding-top: 63px;
    padding-bottom: 63px;
    min-height: 93.6vh;
    width: 85%;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    background: whitesmoke;
    border-bottom: solid 2px var(--lightgreen);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.header-inner {
    width: 80%;
    margin: auto;
    display: flex;
}

.header ul {
    margin-left: auto;
    display: flex;
}

ul a {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.nav_button {
    background: var(--lightgreen);
    color: whitesmoke;
    padding: 10px 20px;
    text-decoration: none;
   
}

.dropdown {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.nav_button:hover {
    background: var(--darkgreen);
}

.dropdown_content {
    display: none;
    position: absolute;
    position: absolute;
    left: 10px;
    top: 27px;
    /*width: calc(100% - 10px);*/
}

.dropdown_content a {
    float: none;
    margin: 0;
    display: block;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.post {
    display: flex;
    margin-top: 20px;
}

.post img {
    margin: auto;
}

.left, .right {
    width: calc(100% - 256px);
    padding-right: 20px;
    padding-left: 20px;
}

.filters {
    margin: auto;
    display: flex;
}

.filters * {
    margin: auto;
    margin-right: 10px;
}

.input {
    padding: 10px 20px;
    border-radius: 0;
    border: solid 2px var(--lightgreen);
    background: white !important;
    font-family: inherit;
    font-size: 1rem;
    max-width: 180px;
}

.input:hover {
    cursor: pointer;
    border-color: var(--darkgreen);
}

svg:hover {
    opacity: 0.7;
}

.bottom_nav {
    display: none;
}

.category {
    border: solid thin var(--dark-white);
    padding: 5px 10px;
    padding-bottom: 5px !important;
    width: fit-content;
    margin-bottom: 20px !important;
}

@media (max-width: 800px) {
    .main-container {
        width: 90%;
    }

    .filters {
        display: none;
    }

    .post {
        display: block;
        padding: 20px;
    }
    .post img {
        display: flex;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .post h2, .post h3, .post p, .post i, .post a {
        display: flex;
        margin: auto;
        width: fit-content;
        padding-bottom: 20px;
    }
    .right, .left {
        width: 100% !important;
        padding: 0 !important;
    }
    .header-inner ul {
        display: none;
    }
    .header-inner h1 {
        display: flex;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom_nav {
        width: 100%;
        position: fixed;
        display: flex;
        background: whitesmoke;
        border-top: solid 2px var(--white);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        bottom: 0;
    }
    .bottom_nav ul {
        padding: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
}

.homepage-container {
    padding: 40px;
    padding-top: 100px;

}

.post-header * {
    display: flex;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    width: fit-content;
}

.post-content {
    padding: 20px calc(7% + 7px);
}