@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

:root {
    --white: #e6dbc1;
    --dark-white: #b3aa96;
    --darkgreen: #022e1e;
    --lightgreen: #0a552a;
    --light-text: #151515cc;

}

* {
    font-family: "IM Fell English", serif;
    transition: 0.15s ease-in-out;
    color: var(--darkgreen);
}

h1 a {
    color: white;
}

h2 {
    font-size: 36px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 200%;
    letter-spacing: .25px;
}

html {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

hr {
    border-color: var(--lightgreen);
}

body {
    display: flex;
    margin: 0;
    
}

li {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    padding-left: 0 !important;
}

.main-container {
    margin: 0 auto 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 70vh;
    width: 85%;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    border-bottom: solid 2px var(--lightgreen);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: var(--lightgreen);
    z-index: 9;

}

.header-inner {
    width: 80%;
    margin: auto;
    display: flex;
}

.header ul {
    margin-left: auto;
    display: flex;
}

ul a {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    letter-spacing: 0.75px;
}

.nav_button {
    background: var(--lightgreen);
    color: whitesmoke;
    padding: 10px 20px;
    text-decoration: none;
   
}

.dropdown {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.nav_button:hover {
    background: var(--darkgreen);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.dropdown_content {
    display: none;
    position: absolute;
    position: absolute;
    left: 5px;
    top: 31px;
    padding-top: 4px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.dropdown_content a {
    float: none;
    margin: 0;
    display: block;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.posts {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    display: flex;
    margin-top: 30px;
    border-bottom: solid 2px var(--lightgreen);
}

.post img {
    margin: auto;
    width: 256px; 
    height: 256px; 
    object-fit: cover;
}

.left, .right {
    width: calc(100% - 256px);
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
}

.right h2 {
    margin-top: 0;
}

.right a {
    font-weight: bold;
    letter-spacing: .75px;
    text-decoration: none;
    border-bottom: solid 2px transparent;
}

.right a:hover {
    border-bottom: solid 2px var(--lightgreen);
    text-decoration: none;
}

.filters {
    margin: auto;
    display: flex;
    padding-left: 20px;
}

.filters * {
    margin: auto;
    margin-right: 10px;
}

.input {
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    background: white !important;
    font-family: inherit;
    font-size: 1rem;
    max-width: 180px;
}

.form_input:hover, .submit:hover {
    cursor: pointer;
    border-color: var(--darkgreen);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.input:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    opacity: 0.7;
}

svg:hover {
    opacity: 0.3;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.85));
}

.bottom_nav {
    display: none;
    z-index: 9;
}

.category {
    border: solid thin var(--lightgreen);
    padding: 5px 10px;
    padding-bottom: 5px !important;
    width: fit-content;
    margin-bottom: 20px !important;
}

@media (max-width: 800px) {
    .main-container {
        width: 90%;
    }

    .filters {
        position: fixed;
        top: 95px;
        left: 0px;
    }

    .filters * {
        max-width: 40vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .post {
        display: block;
        padding: 20px;
    }
    .post img {
        display: flex;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 256px; 
        height: 256px; 
        object-fit: cover;

    }
    .post h2, .post h3, .post p, .post i, .post a {
        display: flex;
        margin: auto;
        width: fit-content;
        padding-bottom: 20px;
    }

    .post a {
        padding-bottom: 0;
    }

    .right, .left {
        width: 100% !important;
        padding: 0 !important;
        border-left: none;
        margin-left: 0;
    }
    .header-inner ul {
        display: none;
    }
    .header-inner h1 {
        display: flex;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom_nav {
        width: 100%;
        position: fixed;
        display: flex;
        background: var(--lightgreen);
        border-top: solid 2px var(--lightgreen);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        bottom: 0;
    }
    .bottom_nav ul {
        padding: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
}

.homepage-container {
    padding: 40px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.post-header * {
    display: flex;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    width: fit-content;
}

.post-content {
    padding: 20px calc(7% + 7px);
}


.contact {
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
}

.submit {
    background: transparent;
    width: 100px;
    padding: 10px;
    text-align: center;
    border: solid 2px var(--lightgreen);
}

.form_input {
    padding: 10px;
    border: solid 2px var(--lightgreen);
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    width: calc(100% - 24px);
    position: relative;
}

label {
    display: flex;
}

label span {
    margin-left: auto;
}

textarea {
    overflow-x: hidden;
    resize: vertical;
    width: 100%;
    min-height: 100px;
} 

form {
    overflow: hidden;
    width: 100%;
    max-width: 550px; 
    margin: auto;
    border: solid 2px var(--lightgreen);
    padding: 20px;
    background: white;
    z-index: 0;
}

.pageclip-form__success__message {
    margin: -20px !important;
}
